nav > a {
color: crimson;
text-decoration: none;
}

.about blockquote {
    background-color: #eaeaea;
}

.users span {
font-weight: bold;
}

.users span:nth-child(2) {
    color: crimson;
}

.creators .link {
font-family: "Lato, sans-serif";
}

.creators .link.font {
    font-family: PT serif, sans-serif;
}

ul li:nth-child(odd) {
    text-decoration: underline;
}

/* ul li:nth-child(1), ul li:nth-child(3) {text-decoration: underline;} */

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: crimson;
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
  }


.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  /* je potřeba přejmenovat classes na .hover-underline-animation aby to fungovalo!!!!  */